.App {
  min-width: 375px;
  min-height: 100vh;
  background: var(--main-bg);
  display: grid;
  place-items: center;
}

.screen {
  height: 130px;
  background: var(--screen-bg);
  color: var(--white);
  border-radius: 8px;
  margin: 1rem 0;
}
