:root {
  font-family: "League Spartan", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --t1-main-bg: hsl(222, 26%, 31%);
  --t1-toggle-keypad-bg: hsl(223, 31%, 20%);
  --t1-screen-bg: hsl(224, 36%, 15%);

  --t2-main-bg: hsl(0, 0%, 90%);
  --t2-toggle-keypad-bg: hsl(0, 5%, 81%);
  --t2-screen-bg: hsl(0, 0%, 93%);

  --t3-main-bg: hsl(268, 75%, 9%);
  --t3-toggle-keypad-bg: hsl(268, 71%, 12%);
  --t3-screen-bg: hsl(268, 71%, 12%);

  /* theme 1 keys */
  --t1-dark-blue: hsl(225, 21%, 49%);
  --t1-dark-blue-shadow: hsl(224, 28%, 35%);
  --t1-dark-blue-hover: hsl(223, 54%, 68%);
  --t1-red-bg: hsl(6, 63%, 50%);
  --t1-red-bg-shadow: hsl(6, 70%, 34%);
  --t1-red-bg-hover: hsl(8, 100%, 70%);
  --t1-light-grayish-orange: hsl(30, 25%, 89%);
  --t1-grayish-orange-shadow: hsl(28, 16%, 65%);

  /* them 2 keys */
  --t2-dark-cyan: hsl(185, 42%, 37%);
  --t2-dark-cyan-hover: hsl(185, 44%, 52%);
  --t2-dark-cyan-shadow: hsl(185, 58%, 25%);
  --t2-orange-bg: hsl(25, 98%, 40%);
  --t2-orange-bg-shadow: hsl(25, 99%, 27%);
  --t2-orange-bg-hover: hsl(25, 80%, 61%);
  --t2-light-grayish-yellow: hsl(45, 7%, 89%);
  --t2-grayish-orange-shadow: hsl(35, 11%, 61%);

  /* theme 3 keys */
  --t3-dark-violet: hsl(281, 89%, 26%);
  --t3-vivid-magenta-shadow: hsl(285, 91%, 52%);
  --t3-pure-cyan-bg: hsl(176, 100%, 44%);
  --t3-soft-cyan-bg-shadow: hsl(177, 92%, 70%);
  --t3-very-dark-voilet: hsl(268, 47%, 21%);
  --t3-dark-magenta-shadow: hsl(290, 70%, 36%);

  --t1-key-text: hsl(221, 14%, 31%);
  --white: #fff;
  --t2-key-text: hsl(60, 10%, 19%);
  --t3-key-text: hsl(52, 100%, 62%);

  /* --t1-dark-gray-blue: hsl(221, 14%, 31%);
  --white: #fff;
  --t2-dark-gray-yellow: hsl(221, 14%, 31%);
  --t3-light-yellow: hsl(221, 14%, 31%);
  --t3-dark-blue: hsl(198, 20%, 13%); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.theme1 {
  --main-bg: var(--t1-main-bg);
  --toggle-keypad-bg: var(--t1-toggle-keypad-bg);
  --screen-bg: var(--t1-screen-bg);
  /* keys */
  --del-key-bg: var(--t1-dark-blue);
  --del-key-bg-shadow: var(--t1-dark-blue-shadow);
  --del-key-bg-hover: var(--t1-dark-blue-hover);
  --key-bg-toggle: var(--t1-red-bg);
  --key-bg-toggle-shadow: var(--t1-red-bg-shadow);
  --key-bg-toggle-hover: var(--t1-red-bg-hover);
  --key-bg: var(--t1-light-grayish-orange);
  --key-bg-shadow: var(--t1-grayish-orange-shadow);

  /* text */
  --key-text: var(--t1-key-text);
  --key-hover: var(--white);
  --del-key-text: var(--white);
  --display-text: var(--white);
}
.theme2 {
  --main-bg: var(--t2-main-bg);
  --toggle-keypad-bg: var(--t2-toggle-keypad-bg);
  --screen-bg: var(--t2-screen-bg);

  --del-key-bg: var(--t2-dark-cyan);
  --del-key-bg-shadow: var(--t2-dark-cyan-shadow);
  --del-key-bg-hover: var(--t2-dark-cyan-hover);
  --key-bg-toggle: var(--t2-orange-bg);
  --key-bg-toggle-shadow: var(--t2-orange-bg-shadow);
  --key-bg-toggle-hover: var(--t2-orange-bg-hover);
  --key-bg: var(--t2-light-grayish-yellow);
  --key-bg-shadow: var(--t2-grayish-orange-shadow);

  /* text */
  --key-text: var(--t2-key-text);
  --key-hover: var(--white);
  --del-key-text: var(--white);
  --display-text: var(--t2-dark-gray-yellow);
}
.theme3 {
  --main-bg: var(--t3-main-bg);
  --toggle-keypad-bg: var(--t3-toggle-keypad-bg);
  --screen-bg: var(--t3-screen-bg);

  --del-key-bg: var(--t3-dark-violet);
  --del-key-bg-shadow: var(--t3-vivid-magenta-shadow);
  --del-key-bg-hover: var(--t3-vivid-magenta-shadow);
  --key-bg-toggle: var(--t3-pure-cyan-bg);
  --key-bg-toggle-shadow: var(--t3-soft-cyan-bg-shadow);
  --key-bg-toggle-hover: var(--t3-soft-cyan-bg-shadow);
  --key-bg: var(--t3-very-dark-voilet);
  --key-bg-shadow: var(--t3-dark-magenta-shadow);

  /* text */
  --key-text: var(--t3-key-text);
  --key-hover: var(--t3-vivid-magenta-shadow);
  --del-key-text: var(--white);
  --display-text: var(--t3-key-text);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
